@font-face {
    font-family: Text;
    src: url('../fonts/FiraSans-Light.eot')  format('eot'),
         url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pre;
    src: url('../fonts/DroidSansMono.eot')  format('eot'),
         url('../fonts/DroidSansMono.woff') format('woff'),
         url('../fonts/DroidSansMono.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 1.2em/1.5em Text;
    color: #f5f2e7;
    text-align: justify;
    hyphens: auto;
    min-height: 100%;
    overflow-x: hidden;
    background: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    left: -50px;
    height: 100vh;
    width: 250px;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
}

    nav[aria-selected='true'] {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    nav > ul {
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    nav > ul > li {
        display: table-row;
    }

    nav > ul > li::before {
        content: '';
    }

    nav > ul > li > a {
        display: table-cell;
        vertical-align: middle;
        color: #f0e9dd;
        font-variant: all-small-caps;
        text-decoration: none;
        padding-left: 50px;
        cursor: pointer;
    }

    nav > ul > li > a > img {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        vertical-align: middle;
    }

      @media all and (max-height: 450px) {
          nav > ul > li > a > img {
              display: inline-block;
              width: 30px;
              height: 30px;
              margin-left: .5em;
              float: left;
          }
      }

      #nav-features {
          background: rgba(131, 93, 91, .6);
      }

      #nav-source {
          background: rgba(162, 107, 97, .6);
      }

      #nav-documentation {
          background: rgba(227, 143, 113, .6);
      }

      #nav-community {
          background: rgba(252, 218, 186, .6);
      }

      #nav-posts {
          background: rgba(240, 178, 112, .6);
      }

      #nav-about {
          background: rgba(111, 95, 93, .6);
      }

#body { }

    @supports (pointer-events: none) {
        #body::after {
            content: '';
            position: absolute;
            top: 0;
            min-height: 100vh;
            height: 100%;
            width: 100vw;
            pointer-events: none;
            opacity: 0;
            background: #000;

            transition: opacity 200ms ease-out;
            -webkit-transition: opacity 200ms ease-out;
        }

        nav[aria-selected='true'] ~ #body::after {
            pointer-events: auto;
            opacity: .7;
        }
    }

    nav[aria-selected='true'] ~ #body {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }

    @media all and (min-width: 800px) {
        nav ~ #body {
            margin-left: 200px;
        }

        #menu {
            transform: translateX(0px);
        }

        [aria-controls='menu'] {
            display: none;
        }
    }

[aria-controls='menu'] {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 0;
    margin-left: 10px;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(-360deg) translateZ(0);
    -webkit-transform: translateZ(0);
}

    [aria-controls='menu'] > svg circle,
    [aria-controls='menu'] > svg line {
        fill: none;
        stroke: #f5f2e7;
        stroke-width: 4;
    }

    nav[aria-selected='true'] ~ [aria-controls='menu'] {
        transform: rotate(45deg) translateZ(0);
        -webkit-transform: rotate(405deg) translateZ(0);
        margin-left: 210px;
    }

nav, #body, [aria-controls='menu'] {
    transition: 500ms cubic-bezier(.26, 1.59, .64, 1);
    transition-property: transform, margin-left;
    -webkit-transition: 500ms cubic-bezier(.26, 1.59, .64, 1);
    -webkit-transition-property: -webkit-transform, margin-left;
}

header {
    text-align: center;
    margin-bottom: 3em;
    padding-top: 1em;
}

article {
    padding-bottom: 4em;
}

footer > p {
    font-size: .8em;
    text-align: center;
}

article > p,
article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6,
article > ol,
article > ul,
article > section > p,
article > section > h1,
article > section > h2,
article > section > h3,
article > section > h4,
article > section > h5,
article > section > h6,
article > section > ol,
article > section > ul {
    margin-left: 4rem;
    margin-right: 4rem;
}

.visual-section {
    margin-bottom: 1rem;
}

.visual-section:nth-child(odd) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: rgba(255, 255, 255, .05);
}

    .visual-section h2:not(:first-of-type),
    .visual-section h3 {
        margin-top: 1.5rem;
    }

h1 {
    text-align: center;
}

h2 > small {
    color: #555;
    font-size: 1em;
}

.header__paragraph {
    text-align: center;
}

p {
    margin: 1em 0;
    clear: both;
}

    p:last-child {
        margin-bottom: 0;
    }

article a:not(.bare),
footer a:not(.bare) {
    color: rgb(157, 92, 87);
    text-decoration: none;
    padding: .2em .2em .15em;
    background: #f5f2e7;
}

em em {
    font-style: normal;
}


li {
    position: relative;
    list-style: none;
}

    ul:not(.bare) li,
    ol:not(.bare) li {
        margin-left: 1em;
    }

    li::before {
        position: absolute;
        left: -1.3em;
        cursor: default;
        height: 100%;
        width: 1.3em;
        text-align: center;
    }

ul { }

    ul:not(.bare) > li::before {
        content: "•";
    }

    ul > li[data-item]::before {
        content: attr(data-item);
    }

    ul.inline {
        padding: 0;
    }

    ul.inline > li {
        display: inline-block;
        padding: 0;
    }

    ul.inline > li::before {
        display: none;
    }

ol {
    counter-reset: ol 0;
}

    ol > li {
        counter-increment: ol;
    }

    ol > li::before {
        content: counter(ol);
    }

@media all and (max-width: 500px) {
    ul:not(.bare) li {
        margin-left: -1.3em;
    }

    ul:not(.bare) li li {
        margin-left: -.25em;
    }
}

code, pre, kbd, samp {
    font-family: Pre, monospace;
    font-size: .9em;
    color: #072066;
}

pre {
    text-align: left;
    clear: both;
    position: relative;
    font-size: 0.95em;
    line-height: 1.25em;
    padding: .5em 4rem;
    overflow-y: auto;
    background: rgba(255, 255, 255, .7);
}
    pre > code {
        color: inherit;
        font-size: .95rem;
    }

figure {
    text-align: center;
}

table {
    margin: 1em auto;
    width: 100%;
    max-width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
}

    table thead tr:not(:first-child),
    table tbody tr {
        border-top: 1px rgb(210, 197, 172) solid;
    }

    table tbody tr.table--double-separator {
        border-style: double;
        border-width: 4px 0 0 0;
    }

    table th {
        vertical-align: bottom;
    }

    table th,
    table td {
        vertical-align: top;
        padding: 0 1em;
        line-height: 2em;
    }

    table caption {
        font-size: .8em;
        line-height: 1.2em;
        margin: 1em auto 0 auto;
        caption-side: bottom;
    }

.text-center {
    text-align: center;
}

.block-list {
    display: block;
    text-align: center;
}

    .block-list > *:not(:last-child) {
        margin-right: 2em;
    }

    .block-list > * {
        display: inline-block;
        text-align: initial;
        vertical-align: top;
    }

.columns { }

    .columns[data-columns='2'] {
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
    }

    .columns[data-columns='3'] {
        columns: 3;
        -moz-columns: 3;
        -webkit-columns: 3;
    }

    .columns[data-columns='4'] {
        columns: 4;
        -moz-columns: 4;
        -webkit-columns: 4;
    }

    .columns[data-columns='5'] {
        columns: 5;
        -moz-columns: 5;
        -webkit-columns: 5;
    }

    .columns[data-columns='6'] {
        columns: 6;
        -moz-columns: 6;
        -webkit-columns: 6;
    }

    .columns[data-columns='7'] {
        columns: 7;
        -moz-columns: 7;
        -webkit-columns: 7;
    }

    .columns[data-columns='8'] {
        columns: 8;
        -moz-columns: 8;
        -webkit-columns: 8;
    }

@media all and (max-width: 799px) {
    .columns[data-columns] {
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }
}

.avatars {
    margin: 1em 0;
    padding: 0 4rem
}
    .avatars:after {
        content:"";
        display:table;
        clear:both;
    }

    .avatar {
        width: 9%;
        float: left;
        margin-right: 1%;
        margin-bottom: 1em;
        text-align: center;
    }

    .avatar img {
        width: 100%;
        border-radius: 1rem;
    }


.integrations {
  margin: 0 auto;
  max-width: 600px;
}

ul.integrations > li:before{
  content: "";
}

.integrations li {
  text-align: center;
  margin: 0 0 25px 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  min-height: 120px;
}

.integrations li a:after {
  content:"\a";
  white-space: pre;
}

.integrations li img {
  max-height: 60px;
  display: block;
  margin: 0 auto 4px auto;
}

.integration__doc-link {
  font-size: 80%;
}

.algolia-autocomplete {
    width: 30rem;
    margin: 0 auto;
    display: block!important;
}
    .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
        font: 1.2em/1.5em Text;
        width: 100%;
        padding: .1em .5em;
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(111, 95, 93, .6);
        vertical-align: middle!important;
        color: rgb(157, 92, 87);
        border-radius: .5em;
    }

    .algolia-autocomplete .aa-dropdown-menu {
        width: 30rem;
        text-align: left;
        background-color: #fff;
        border: 1px solid rgba(111, 95, 93, .6);
        border-top: none;
        margin-top: -.4em;
        border-radius: 0 0 .5em .5em;
    }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
            cursor: pointer;
            padding: 5px 4px;
            color: rgb(157, 92, 87);
        }
            .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
                background-color: #f5f2e7;
            }

            .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .algolia__result-highlight {
                font-weight: bold;
                font-style: normal;
                color: #072066;
            }
