<nav id="menu">
    <ul>
        <li>
            <a href="/" id="nav-about">
                <img src="/images/icon/about.svg" />
                about
            </a>
        </li>
        <li>
            <a href="/news.html" id="nav-posts">
                <img src="/images/icon/news.svg" />
                news
            </a>
        </li>
        <li>
            <a href="/features.html" id="nav-features">
                <img src="/images/icon/features.svg" />
                features
            </a>
        </li>
        <li>
            <a href="/sources.html" id="nav-source">
                <img src="/images/icon/source.svg" />
                sources
            </a>
        </li>
        <li>
            <a href="http://docs.atoum.org/" id="nav-documentation">
                <img src="/images/icon/documentation.svg" />
                documentations
            </a>
        </li>
        <li>
            <a href="/community.html" id="nav-community">
                <img src="/images/icon/community.svg" />
                community
            </a>
        </li>
    </ul>
</nav>
