<nav id="menu">
    <ul>
        <li>
            <a href="/" id="nav-about">
                <img src="/images/icon/about.svg" />
                about
            </a>
        </li>
        <li>
            <a href="/features.html" id="nav-features">
                <img src="/images/icon/features.svg" />
                features
            </a>
        </li>
        <li>
            <a href="/sources.html" id="nav-source">
                <img src="/images/icon/source.svg" />
                sources
            </a>
        </li>
        <li>
            <a href="http://docs.atoum.org/" id="nav-documentation">
                <img src="/images/icon/documentation.svg" />
                documentations
            </a>
        </li>
        <li>
            <a href="/news.html" id="nav-posts">
                <img src="/images/icon/news.svg" />
                news
            </a>
        </li>
        <li>
            <a href="http://extensions.atoum.org" id="nav-extensions">
                <img src="/images/icon/puzzle.svg" />
                extensions
            </a>
        </li>
        <li>
            <a href="https://dashboard.telemetry.atoum.org" id="nav-telemetry" target="telemetry">
                <img src="/images/icon/telemetry.svg" />
                telemetry
            </a>
        </li>
    </ul>
</nav>

<div aria-controls="menu" onclick="toggleMenu(this)">
    <svg viewBox="0 0 100 100">
        <title>Open menu icon</title>
        <desc>N-ARY CIRCLED PLUS OPERATOR</desc>

        <circle cx="50" cy="50" r="40" />
        <line x1="20" y1="50" x2="80" y2="50" transform="rotate(90 50 50)" />
        <line x1="20" y1="50" x2="80" y2="50" />
    </svg>
</div>
