@font-face {
  font-family: Text;
  src: url('../fonts/FiraSans-Light.eot')  format('eot'),
  url('../fonts/FiraSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Pre;
  src: url('../fonts/DroidSansMono.eot')  format('eot'),
  url('../fonts/DroidSansMono.woff') format('woff'),
  url('../fonts/DroidSansMono.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
