---
layout: static
comments: true
---

<h1>{{ page.title }}</h1>
<p class="header__paragraph">{{ page.author }} - {{ page.date | date_to_string }}</p>

<section class="visual-section">{{ content }}</section>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    (function() {
        var d = document, s = d.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//atoum.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
